<%@amusementparks.each do |park|%>
    <h1><%= park.name%></h1>
    <h2> Admission: <%= park.admission%></h2>
    <h2> Rides: </h2>
    <p><%= park.ride_1%></p>
    <p><%= park.ride_2%></p>
    <p><%= park.ride_3%></p>
<%end%>
